body {
  font-family: Poppins;
  background-color: #f4f4f4;
  padding: 2rem;
  background-color: #0369a1;
}

form {   
  background: white;
  padding: 2rem;
  border-radius: 8px;
  max-width: 500px;
  margin: auto;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

img {
    justify-content: center;
    display: flex;
    align-items: center;
}

label {
  margin-top: 30px;  
  display: block;
  align-items: center;
}

select, textarea, input[type="checkbox"], button {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.5rem;
  font-size: 1rem;
}

button {
  background-color: #0298d2;
  color: white;
  border: none;
  border-radius: 4px;
  margin-top: 1.5rem;
  cursor: pointer;
}

button:hover {
  background-color: #027bb5;
}
